<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="home::header">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="home::nav">
</nav>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="wrapper">
    <div class="section">
        <div class="container">
            <form action="#" th:action="@{/transactions}" th:object="${account}" method="post" id="selectForm">

                <div class="form-group">
                    <label for="select">Select Account Number:</label>
                    <br/>
                    <select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block" form="selectForm" th:field="*{acctNum}" id="select">
                        <!--<option disabled selected> Choose city</option>-->
                        <th:block th:each="acct:${acctList}">
                            <option th:value="${acct.acctNum}" th:text="${{acct.acctNum}}">account# </option>
                        </th:block>


                    </select>
                </div>
                <p><input type="submit" value="Submit" /></p>
            </form>
        </div>
    </div>



    <div class="section">
        <div class="container">

            <div th:if="${transList!=null}">
                <h1>Transaction List</h1>
                <br/>
                <h3 th:text="${'Balance: '+ {account.balance}}"></h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID #</th>
                        <th>Action</th>
                        <th>Amount</th>
                        <th>Reason</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="trans:${transList}">
                        <td th:text="${{trans.transID}}">
                            Number
                        </td>
                        <td th:text="${{trans.action}}">
                            Name
                        </td>
                        <td th:text="${{trans.amt}}">
                            City
                        </td>
                        <td th:text="${{trans.reason}}">
                            State
                        </td>


                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>


</body>
<th:block th:replace="home::foot">
</th:block>
<script>
    var home = document.getElementById("home");
    var deposit =document.getElementById("deposit");
    var withdraw =document.getElementById("withdraw");
    var hist =document.getElementById("hist");
    home.className+="";
    deposit.className+="";
    withdraw.className+="";
    hist.className+="active";
</script>
</html>