<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: header"></th:block>
</head>
<body>
<div class="wrapper">
<div class="sidebar" data-background-color="brown" data-active-color="danger" th:replace="base::sidebar">

</div>
<div class="main-panel">
    <nav class="navbar navbar-default" th:replace="base::navbar">
    </nav>

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class= "col-md-3">
                </div>
                <div class="col-md-5">

                    <h1>Spring Boot file upload example</h1>
                    <form th:object="${image}" method="POST" action="/create/upload" enctype="multipart/form-data">
                        <input type="file" name="file"/><br/><br/>
                        <input type="text" name="caption" th:field="*{caption}"/><br/>
                        <input type="submit" value="Submit"/>
                    </form>
                    <div th:if="${message}">
                        <h2 th:text="${message}"/><br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" th:fragment="base::footer">
    </footer>

<!--
    <div class="row">
        <th:block th:each="image: ${imageList}">
            <div class="col-md-3">
                <div th:utext="${image.imgsrc}">
                </div>
                <p th:text="${image.caption}">Caption</p>
            </div>
        </th:block>
    </div>
-->
</div>
</div>


</body>
<th:block th:replace="base :: scripts"></th:block>
</html>